<div class="container pc-authenticate-only-section">
    <div class="page-header">
        <h1>Personal Social-Proxy Services</h1>
        <p class="lead">This beta service is currently by invitation only. <a href="#">Read the documentation</a> for more information.</p>
    </div>

    <h3>Why ProxiCode?</h3>
    <p>Feel don't want to miss any of your friends' life moments such as birthday, anniversary, but overwhelmed by current schedule?</p>
    <p>Show someone dear to you that you truly care by automating events.</p>
    <p>Let as many as 30+ online agents to serve you.</p>
</div>